{
    #http_port {$HTTP_PORT}
    #https_port {$HTTPS_PORT}
    log debug
    #auto_https off
}

(all) {
    #tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    handle_errors {
        rewrite * /{err.status_code}
	reverse_proxy https://http.cat {
            header_up Host {upstream_hostport}
            replace_status {err.status_code}
	}
    }
}

(auth) {
    forward_auth oauth2-proxy {
        # todo set x-real-ip
        # todo set x-forwarded-uri
        uri /oauth2/auth

        copy_headers x-auth-request-user x-auth-request-email sadfasdfsaf

        @unauthorized status 401
        handle_response @unauthorized {
            redir https://oauth2-proxy.chilly.griffinht.com/oauth2/sign_in?rd={scheme}://{host}{uri}
        }
    }
}

https://{$DOMAIN} {
    import all
    #log info
    respond 404
}

https://searxng.{$DOMAIN} {
    import all
    reverse_proxy {
        to searxng
        health_uri /healthz
    }
}

https://redlib.{$DOMAIN} {
    import all
    reverse_proxy {
        to redlib
        health_uri /settings
    }
}

https://speedtest.{$DOMAIN} {
    import all
    reverse_proxy {
        to speedtest
        health_uri /
    }
}

# auth

https://keycloak.{$DOMAIN} {
    import all
    reverse_proxy {
        to keycloak
        health_uri /realms/master
    }
}


https://oauth2-proxy.{$DOMAIN} {
    import all
    reverse_proxy {
        to oauth2-proxy
        health_uri /ping
        # todo try /ready? https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/
    }
}

# services

https://miniflux.{$DOMAIN} {
    import all
    import auth
    reverse_proxy {
        to miniflux
        health_uri /ping
        # todo try /ready? https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/
    }
}
