{
    http_port {$HTTP_PORT}
    https_port {$HTTPS_PORT}
    log debug
    #auto_https off
}

# healthcheck
:9999 {
    respond / 200
}

(all) {
    #tls internal
    #tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    handle_errors {
        rewrite * /{err.status_code}
	reverse_proxy https://http.cat {
            header_up Host {upstream_hostport}
            replace_status {err.status_code}
	}
    }
}

(auth) {
    log info
    forward_auth oauth2-proxy {
        # todo set x-real-ip
        # todo set x-forwarded-uri
        uri /oauth2/auth

        copy_headers X-Auth-Request-User>X-Forwarded-User X-Auth-Request-Email>X-Forwarded-Email

        @unauthorized status 401
        handle_response @unauthorized {
            # todo hardcode scheme? don't hardcode scheme?
            redir https://oauth2-proxy.{$DOMAIN}/oauth2/sign_in?rd={scheme}://{host}{uri}
        }
    }
}

https://{$DOMAIN} {
    import all
    #log info
    respond 404
}

https://searxng.{$DOMAIN} {
    import all
    reverse_proxy {
        to searxng
        health_uri /healthz
    }
}

https://redlib.{$DOMAIN} {
    import all
    reverse_proxy {
        to redlib
        health_uri /settings
    }
}

https://speedtest.{$DOMAIN} {
    import all
    reverse_proxy {
        to speedtest
        health_uri /
    }
}

https://ip-server.{$DOMAIN} {
    import all
    reverse_proxy {
        to ip-server
    }
}

# auth

https://oauth2-proxy.{$DOMAIN} {
    log info
    import all
    reverse_proxy {
        to oauth2-proxy
        health_uri /ping
        # todo try /ready? https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/
    }
}

# services

https://miniflux.{$DOMAIN} {
    import all
    import auth
    @metrics path /metrics
    respond @metrics 403
    reverse_proxy {
        to miniflux
    }
}

https://httpbin.{$DOMAIN} {
    import all
    import auth
    reverse_proxy {
        to httpbin
        health_uri /status/200
        # todo try /ready? https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/
    }
}
